.princCompanias{
    display: flex;
    flex-direction: column;
    margin: 3vw 10vw 0;
    
    font-weight: 300;
    font-size: 1vw;

    border: 0.03vw solid black;
    
    .division{
        display: flex;
        justify-content: space-around;

        padding: 1vw 0 1vw;
        p{
            width: 10vw;
            height: 3vw;
            display: flex;
            justify-content: center;
            align-items: center;

        }
        h4{
            width: 10vw;
            display: flex;
            justify-content: center;
        }
        .telefonoComp{
            width: 6vw;
        }
        .accionesComp{
            width: 7vw;
            display: flex;
            justify-content: space-around;
            align-items: center;

            img{
                width:1.5vw;
                height:1.5vw;
                display: none;
            }
            img:first-child{
                display: block;
            }
        }
        .ciudadComp{
            width: 7vw;
        }


    }
    .companiaInd{
        &:hover{
            background-color: #E8E8E8;
            .accionesComp{
                img{
                    width:1.5vw;
                    height:1.5vw;
                    display: block;
                }
                img:first-child{
                    display: none;
                }
            }
        }
    }
    
    .titCompanias{
        border-bottom: 0.03vw solid black;
        padding: 2vw 0 2vw;
    }
}

.agregarCompanias{
    margin-top: 1vw;
    border: none;
    background-color: #0683F9;
    color: white;

    
    display: flex;
    justify-content: space-around;

    padding: 1vw 0 1vw;
}

