.tituloSeccion{
    padding: 2.89vw 0 0 2.2vw;
    font-family: $letra;
    font-size: 1.5vw;
}

.controlContactos{
    padding: 1.48vw 2.2vw 3.25vw 2.2vw;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .contBusqueda{
        display: flex;
        height: fit-content;
        
        .busquedaNoActiva{
            border: 0.07vw solid #CCCCCC;
            display: flex;
            flex-direction: column;
            position: absolute; 
            
            
            .buscador{
                width: 32.7vw;
                height: 100%;
                font-family: $letra;
                font-size: 0.9vw;
                font-weight: 300;
                margin: 0 2vw 0;
                border: 0;
                outline: 0;
                height: 3vw;
            }

            .opcionesBusqueda{
                display: none;
                .opcionBusqueda{
                    display: none;
                }
            }   
        }
        .busquedaActiva{
            border: 0.07vw solid #CCCCCC;
            display: flex;
            flex-direction: column;
            position: absolute;


            .buscador{
                width: 32.7vw;
                height: 100%;
                font-family: $letra;
                font-size: 0.9vw;
                font-weight: 300;
                margin: 0 2vw 0;
                border: 0;
                outline: 0;
                height: 3vw;
            }
        
            .opcionesBusqueda{
                background-color: #FFFFFF;
                div{
                    margin: 0 2vw 0;
                    border-top: 0.07vw solid #CCCCCC;
                }
                .opcionBusqueda{
                    
                    display: flex;
                    align-items: center;
                    height: 3vw;
                    border: 0;
                    padding-left: 2vw;
                    padding-right: 2vw;


                    font-family: $letra;
                    font-size: 0.9vw;
                    font-weight: 300;
                    &:hover{
                        background-color: #8EC7FC;
                    }
                    span{
                        &:first-child{
                            color: #807878;
                        }
                        padding-right: 0.3vw;
                        padding-left: 0.3vw;
                    }
                    
                }
            }  
        }
  
        .activarBusqueda{
            width: 3vw;
            margin-left: 37.4vw;
            height: 3vw;
            background-color: white;
            border: 0.07vw solid #CCCCCC;
        }
    }

    #agregarContacto{
        width: 12.7vw;
        height: 3.07vw;
        border: none;
        background-color: $colorHeader;
        color: white;
        font-family: $letra;
        font-size: 0.9vw;
    }
}


