*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$colorHeader: #1D72C2;
$gris: #CCCCCC;
$letra: 'Noto Sans TC', sans-serif;

.letra{
    font-family: $letra;
}
.letraSub{
    font-family: $letra;
    font-size: 0.85vw;
}
